
.navbar{
   
    position: fixed;
    top: 0%;
    width: 98vw;
    background-color: white;
    z-index: 1;
    
}
.outlet{
    margin-top: 10vh;
}


.bodysection{
    max-width: 90vw;
}


.navul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* background-color: #333; */
}

.navli {
    margin: 0 10px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease-in-out;
}

.navli:hover {
    color: #4923e3;
}

.navli::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #3498db;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.navli:hover::after {
    width: 100%;
}
.slickcont{
    height: 60vh;
}
.slickweb{
    max-width: 90vw;
    height: 100%;
    width: 100%;
}


.sec1 {
    /* border: 1px solid red; */
    flex: 1;
}

.sec2 {
    /* border: 1px solid red; */
    flex: 1.5;
}

.sec2 h2 {
    max-width: fit-content;
}

.chooseUs {
    padding: 10px 0;
    display: flex;
    gap: 2rem;
    width: 90vw;
display: flex;
flex-direction: row;
    margin-left: 13vw;
    margin-top: 9vh;
    background: url('./assets//Bg1.webp');
    
}

.about-usbottom {
    /* border: 1px solid red; */
    display: flex;
    /* gap: 1rem; */
    color: white;
    font-weight: 700;
    height: 15vh;
    margin-top: 1rem;
    width: 90%;

}

.about-usbottom>div {
    /* border: 1px solid red; */
    /* width: 40px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.instContainer {
    margin-top: 15vh ;
    /* border: 1px solid red; */
    margin-left: 10vw;
    width: 90vw;
    /* gap: 30px !important; */
}

.instparent {
    width: 40%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.instructor {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    display: flex;
    place-items: center;
    border-radius: 8px;
    height: 250px;
    width: 250px;
    overflow: hidden;
    transition: all;

}

.instructor>img:hover {
    /* border: 2px solid red; */
    scale: 1.3;
    transition: all .3s;

}

.offForm {
    /* margin-top: 5vh; */
    background: url('./assets/Bg1.webp');
    width: 95.5vw;
    /* height: 20vh; */
}

.testicard {
    margin-left: 10vw;
    /* border: 1px solid red; */
    width: 70% !important;
    height: 300px !important;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.11) 0px 18px 36px -18px inset;
}

.send_form_icon {
    /* border: 1px solid red; */
    width: 80px !important;
    height: 80px !important;
}

.send_message_sec1 {
    flex: 1;

}

.send_message_sec2 {
    margin-left: 5vw;
    flex: 1.2;
}

.send_message_sec2>h2 {
    width: fit-content;
}

.maindiv>img {
    filter: grayscale(50%);
    width: 80vw;
    height: 60vh;


}

.maindiv>h1 {

    position: absolute;
    bottom: 50%;
    left: 30%;
    color: #1509a0;
    font-weight: bolder;
    font-size: 34px;
}

.h2div {
    position: absolute;
    bottom: 35%;
    left: 20%;
    font-weight: 600;
    color: #300fb5;
}



.menuicons {
    display: none;
}
.sendMessage{
    /* border: 1px solid red; */
    margin-top: 9vh;
    display: flex;
    gap: 5vw;
    width: 90vw;
    margin-left: 13vw;
    /* mt-[9vh]  flex sm:flex-col  gap-[5vw] w-[90vw] ml-[13vw] */
}
.offforminner{
    background: #fff;
    width: 40%;
    padding: 30px 30px;
    margin: 9px 0;

    /* bg-[white] w-[40%] px-[30px] py-[30px] my-9 */
}
.offFormform{
    /* border: 1px solid red; */
    position: relative;
    height: 3rem;
    width: 100%;
    min-width:200px ;
    margin: 5px;
    /* relative h-12 w-full min-w-[200px] m-[5px]  */
}
.sec2 >h1{
    font-size: 3.75rem;
}
.sec2 > h4{
    width: 90%;
}
.class1{
    /* border: 1px solid red; */
    width: 105px;   
}
.sec1{
    /* border: 1px solid red; */
    margin-top: 15px;
}
.sec1 > img{
    height: 520px;
    /* h-[520px] */
}

.instContainer > div{
/* border: 2px solid red; */
width: 55%;
}

.inst >h1{
    font-size: 3rem;
}
.inst > p{
    font-size: 1.5rem;
}

.aboutuspage{
    /* background-color: red; */
    margin-top: 8vh;
    display: flex;
    gap: 2rem;
    width: 90vw;
    margin-left: 10vw;
}

.testimonial{
    margin-top: 8vh;
    width:95vw;
    margin-left: 10vw;
    /* mt-[8vh] w-[90vw]  ml-[10vw] */
    /* background-color: red; */
}
.testinner-div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 2%;
    /* w-[50%] flex justify-center items-center mb-[5%] mt-[2%] */
}
.class2 > h2
{
font-size: 1.85rem;
}

.firtsfooter{
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    padding-top: 5vh;

}
.firtsfooter > div{
    width: 30vw;

}

.navbar{
   
    position: fixed;
    top: 0%;
    width: 98vw;
    background-color: white;
    z-index: 1;
    
}
.outlet{
    margin-top: 10vh;
}


.bodysection{
    max-width: 90vw;
}


.nav-link {
    position: relative;
    overflow: hidden;
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #3182ce;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }
  
  .nav-link:hover::before {
    width: 100%;
  }
  
  /* Additional styling for hover effect (optional) */
  .nav-link:hover {
    color: #3182ce;
  }




  /* -------------------drawer--------------------------------- */
  .chakra-slide{
    position: fixed;
    right: 0px;
    top: 3px !important;
    bottom: 20px !important;
    width: 57% !important;
  }

  .responsiveul{

    justify-content: center !important;
    align-items: center !important;
    width: 100%;

  }
  .responsiveul > li{
  
    width: 70%;
    padding: 5px 10px;
    display: flex;
    align-items: center;justify-content: center;
  }
.slickcont{
    height: 60vh;
}
.slickweb{
    max-width: 90vw;
    height: 100%;
    width: 100%;
}


.sec1 {
    /* border: 1px solid red; */
    flex: 1;
}

.sec2 {
    /* border: 1px solid red; */
    flex: 1.5;
}

.sec2 h2 {
    max-width: fit-content;
}

.chooseUs {
    padding: 10px 0;
    display: flex;
    gap: 2rem;
    width: 90vw;
display: flex;
flex-direction: row;
    margin-left: 13vw;
    margin-top: 9vh;
    background: url('./assets//Bg1.webp');
    
}

.about-usbottom {
    /* border: 1px solid red; */
    display: flex;
    /* gap: 1rem; */
    color: white;
    font-weight: 700;
    height: 15vh;
    margin-top: 1rem;
    width: 90%;

}

.about-usbottom>div {
    /* border: 1px solid red; */
    /* width: 40px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.instContainer {
    margin-top: 15vh ;
    /* border: 1px solid red; */
    margin-left: 10vw;
    width: 90vw;
    /* gap: 30px !important; */
}

.instparent {
    width: 40%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.instructor {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    display: flex;
    place-items: center;
    border-radius: 8px;
    height: 250px;
    width: 250px;
    overflow: hidden;
    transition: all;

}

.instructor>img:hover {
    /* border: 2px solid red; */
    scale: 1.3;
    transition: all .3s;

}

.offForm {
    /* margin-top: 5vh; */
    background: url('./assets/Bg1.webp');
    width: 95.5vw;
    /* height: 20vh; */
}

.testicard {
    margin-left: 10vw;
    /* border: 1px solid red; */
    width: 70% !important;
    height: 300px !important;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.11) 0px 18px 36px -18px inset;
}

.send_form_icon {
    /* border: 1px solid red; */
    width: 80px !important;
    height: 80px !important;
}

.send_message_sec1 {
    flex: 1;

}

.send_message_sec2 {
    margin-left: 5vw;
    flex: 1.2;
}

.send_message_sec2>h2 {
    width: fit-content;
}

.maindiv>img {
    filter: grayscale(50%);
    width: 80vw;
    height: 60vh;


}

.maindiv>h1 {

    position: absolute;
    bottom: 50%;
    left: 30%;
    color: #1509a0;
    font-weight: bolder;
    font-size: 34px;
}

.h2div {
    position: absolute;
    bottom: 35%;
    left: 20%;
    font-weight: 600;
    color: #300fb5;
}



.menuicons {
    display: none;
}
.sendMessage{
    /* border: 1px solid red; */
    margin-top: 9vh;
    display: flex;
    gap: 5vw;
    width: 90vw;
    margin-left: 13vw;
    /* mt-[9vh]  flex sm:flex-col  gap-[5vw] w-[90vw] ml-[13vw] */
}
.offforminner{
    background: #fff;
    width: 40%;
    padding: 30px 30px;
    margin: 9px 0;

    /* bg-[white] w-[40%] px-[30px] py-[30px] my-9 */
}
.offFormform{
    /* border: 1px solid red; */
    position: relative;
    height: 3rem;
    width: 100%;
    min-width:200px ;
    margin: 5px;
    /* relative h-12 w-full min-w-[200px] m-[5px]  */
}
.sec2 >h1{
    font-size: 3.75rem;
}
.sec2 > h4{
    width: 90%;
}
.class1{
    /* border: 1px solid red; */
    width: 105px;   
}
.sec1{
    /* border: 1px solid red; */
    margin-top: 15px;
}
.sec1 > img{
    height: 520px;
    /* h-[520px] */
}

.instContainer > div{
/* border: 2px solid red; */
width: 55%;
}

.inst >h1{
    font-size: 3rem;
}
.inst > p{
    font-size: 1.5rem;
}

.aboutuspage{
    /* background-color: red; */
    margin-top: 8vh;
    display: flex;
    gap: 2rem;
    width: 90vw;
    margin-left: 10vw;
}

.testimonial{
    margin-top: 8vh;
    width:95vw;
    margin-left: 10vw;
    /* mt-[8vh] w-[90vw]  ml-[10vw] */
    /* background-color: red; */
}
.testinner-div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 2%;
    /* w-[50%] flex justify-center items-center mb-[5%] mt-[2%] */
}
.class2 > h2
{
font-size: 1.85rem;
}

.firtsfooter{
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    padding-top: 5vh;

}
.firtsfooter > div{
    width: 30vw;

}

 .drawerjs{
    border: 2px solid red;
    z-index: 99;
 }
 .navbutton{
    display: none;
 }
@media only screen and (max-width: 600px) {
.navbar{
   /* position: sticky; */
}

.navbutton{
    display: block;
}
    .firtsfooter{
        /* background-color: red; */
        width: 95vw;
        margin-left: 2vw;
    }

    .firtsfooter > div{
        flex-direction: column;
        width: 90vw !important;
    }

    .newsletter{
        display: none;
    }
    .firtsfooter > div >h1{
    }  
    .footersection > div{
        flex-direction: column-reverse;
    }
    .footerto{
        /* border: 2px solid red; */
        width: 90vw;
        margin-left: -5vw;
        display: flex;
        justify-content: space-between
    }
    
    .navul {
        display: none !important;
    }
    .aboutuspage{
        margin-left: 0;
        width: 89vw;
        margin-top: 2vh;
        flex-direction: column-reverse;
        gap: 5px;
    }


    .about-usbottom{
        margin-left: 0vw;
        width: 90vw;

    }
    .about-usbottom >div{
        display: flex;
        font-size: 80%;
    }

    .about-usbottom >div > h1:nth-child(2){
        text-align: center;
    }
    .testimonial{
        /* border: 2px solid blue; */
        margin-left: 0vw;
    }

.testiinner{
    flex-direction: column;
    /* border: 1px solid red; */
    max-width: 95vw;
    margin-left: 1vw;
}
.testinner-div{
    width: 90%;

}


.chooseUs {
    /* border: 1px solid red; */
    margin-left: 1vw;
    margin-top: 3vh;
    padding-left: 5vw;
    width: 95vw;
}
.sec2 > h1{
    font-size: 25px;
    /* border: 1px solid red; */
}
.sec2 >h4{
    width: 95%;
    font-size: 15px;
}
.class1{
    height: 80px;
    width: 80px;
    /* width: 200px; */
}
.class2{
    /* background-color: red; */
    width: 65vw;
    margin: 0;
    padding: 0;
}

.sec1 > img{
    height: 190px;
    width: 100%;
}
.instContainer{
    margin-top: 0;
}

.instContainer > div{
    width: 100%;
}
.inst >h1{
    font-size: 25px;
}
.inst > p{
    font-size: 15px;
}
.instparent{
    display: inline-flexbox;

    margin-left: 3vw;
    /* gap: 3rem; */
}
.instructor{
    
    height: 140px;
    width: 140px;
}
.instructor > img{
    height: 100%;

}

.slickcont{
    /* border: 1px solid red; */
    height: 30vh;
}

.class2 >h2{
    font-size: 100%;
}
 
   .maindiv{
    /* border: 1px solid red; */
   }
   .maindiv > h1{
    top:20%;
    font-size: large;
    left: 20%;
   }
   .h2div{
    top: 40%;
    left: 10%;
    font-size: small;
   }

    .joinbtn {
        display: none;
    }

    .menuicons {
        display: block;
        /* position: fixed; */
        top: 2%;
        right: 8%;
    }

    .navulres {
        /* border: 1px solid red; */
        background-color: rgb(197, 190, 190) !important;
        position: absolute;
        right: 1%;
        z-index: 1;
    }

    .navulres::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-width: 0 20px 15px 0;
        /* Set the size of the triangular point */
        border-style: solid;
        border-color: transparent grey transparent transparent;
        /* Set the color of the triangular point and the same as the background color of the div */
    }
   

    .bodysection {
        /* border: 2px solid red; */
        max-width: 95vw;
        margin-left: 2vw;
    }

    .maindiv>img {
        /* border: 1px solid red; */
        width: 99vw !important;
        height: 30vh;
    }
    .sendMessage{
        flex-direction: column;
        margin-left: 1vw;
        /* border: 1px solid red; */
        margin-top: 1vh;

    }
    .sendmessagesec1firstdiv
    {
        /* border: 2px solid red; */
        margin-left: -10vw;
        
    }

    .send_message_sec2 > h1{
        font-size: 150%;
    }
    .offForm{
        margin-top: 5vh;
    }
    .offforminner{
        /* border: 1px solid red; */
        width: 90vw;
    }
    .offFormform{
        min-width:20px ;
    }
    .offforminnerflex{
        /* border: 1px solid red; */
        display: block;
        flex-direction: column;
    }
    .testicard{
        /* border: 1px solid red; */
        display: none !important;
    }
    .instContainer{
        /* border: 1px solid red; */
        margin-top: 0vh;
        margin-left: 1vw;
        flex-direction: column;
    }

}
 .drawerjs{
    border: 2px solid red;
    z-index: 99;
 }
 .navbutton{
    display: none;
 }
@media only screen and (max-width: 600px) {
.navbar{
   /* position: sticky; */
}

.navbutton{
    display: block;
}
    .firtsfooter{
        /* background-color: red; */
        width: 95vw;
        margin-left: 2vw;
    }

    .firtsfooter > div{
        flex-direction: column;
        width: 90vw !important;
    }

    .newsletter{
        display: none;
    }
    .firtsfooter > div >h1{
    }  
    .footersection > div{
        flex-direction: column-reverse;
    }
    .footerto{
        /* border: 2px solid red; */
        width: 90vw;
        margin-left: -5vw;
        display: flex;
        justify-content: space-between
    }
    
    .navul {
        display: none !important;
    }
    .aboutuspage{
        margin-left: 0;
        width: 89vw;
        margin-top: 2vh;
        flex-direction: column-reverse;
        gap: 5px;
    }


    .about-usbottom{
        margin-left: 0vw;
        width: 90vw;

    }
    .about-usbottom >div{
        display: flex;
        font-size: 80%;
    }

    .about-usbottom >div > h1:nth-child(2){
        text-align: center;
    }
    .testimonial{
        /* border: 2px solid blue; */
        margin-left: 0vw;
    }

.testiinner{
    flex-direction: column;
    /* border: 1px solid red; */
    max-width: 95vw;
    margin-left: 1vw;
}
.testinner-div{
    width: 90%;

}


.chooseUs {
    /* border: 1px solid red; */
    margin-left: 1vw;
    margin-top: 3vh;
    padding-left: 5vw;
    width: 95vw;
}
.sec2 > h1{
    font-size: 25px;
    /* border: 1px solid red; */
}
.sec2 >h4{
    width: 95%;
    font-size: 15px;
}
.class1{
    height: 80px;
    width: 80px;
    /* width: 200px; */
}
.class2{
    /* background-color: red; */
    width: 65vw;
    margin: 0;
    padding: 0;
}

.sec1 > img{
    height: 190px;
    width: 100%;
}
.instContainer{
    margin-top: 0;
}

.instContainer > div{
    width: 100%;
}
.inst >h1{
    font-size: 25px;
}
.inst > p{
    font-size: 15px;
}
.instparent{
    display: inline-flexbox;

    margin-left: 3vw;
    /* gap: 3rem; */
}
.instructor{
    
    height: 140px;
    width: 140px;
}
.instructor > img{
    height: 100%;

}

.slickcont{
    /* border: 1px solid red; */
    height: 30vh;
}

.class2 >h2{
    font-size: 100%;
}
 
   .maindiv{
    /* border: 1px solid red; */
   }
   .maindiv > h1{
    top:20%;
    font-size: large;
    left: 20%;
   }
   .h2div{
    top: 40%;
    left: 10%;
    font-size: small;
   }

    .joinbtn {
        display: none;
    }

    .menuicons {
        display: block;
        /* position: fixed; */
        top: 2%;
        right: 8%;
    }

    .navulres {
        /* border: 1px solid red; */
        background-color: rgb(197, 190, 190) !important;
        position: absolute;
        right: 1%;
        z-index: 1;
    }

    .navulres::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-width: 0 20px 15px 0;
        /* Set the size of the triangular point */
        border-style: solid;
        border-color: transparent grey transparent transparent;
        /* Set the color of the triangular point and the same as the background color of the div */
    }
   

    .bodysection {
        /* border: 2px solid red; */
        max-width: 95vw;
        margin-left: 2vw;
    }

    .maindiv>img {
        /* border: 1px solid red; */
        width: 99vw !important;
        height: 30vh;
    }
    .sendMessage{
        flex-direction: column;
        margin-left: 1vw;
        /* border: 1px solid red; */
        margin-top: 1vh;

    }
    .sendmessagesec1firstdiv
    {
        /* border: 2px solid red; */
        margin-left: -10vw;
        
    }

    .send_message_sec2 > h1{
        font-size: 150%;
    }
    .offForm{
        margin-top: 5vh;
    }
    .offforminner{
        /* border: 1px solid red; */
        width: 90vw;
    }
    .offFormform{
        min-width:20px ;
    }
    .offforminnerflex{
        /* border: 1px solid red; */
        display: block;
        flex-direction: column;
    }
    .testicard{
        /* border: 1px solid red; */
        display: none !important;
    }
    .instContainer{
        /* border: 1px solid red; */
        margin-top: 0vh;
        margin-left: 1vw;
        flex-direction: column;
    }

}